<section id="ideabank-home">
    <div class="grid wrapper">
        <div class="col-12 nav-section">
            <div class="grid navbar">
                <div class="col-3 nav-logo">
                    <div class="logo-img">
                        <img src="../../../assets/Vector.svg" alt="">
                    </div>
                    <div class="font-img">
                        <img src="../../../assets/ideaFont.svg" alt="">
                    </div>
                </div>
                <div class="col-7 nav-content">
                    <div class="content1">
                        <a routerLink="form-fields">Form</a>
                    </div>
                    <div class="content1">
                        <a routerLink="table">Table</a>
                    </div>
                    <div class="content1">
                        <a href="">Project ideas</a>
                    </div>
                </div>
                <div class="col-2 nav-img">
                    <img src="../../../assets/Ellipse 734.svg" alt="">
                </div>
            </div>
        </div>
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</section>